/* Simple Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 1280px;
  height: 780px;
  background-color: black;
  background-image:url('../Photo/habit.png');
  background-repeat:no-repeat;
  background-position:right top;
}

.intro {
   position: absolute;
   width: 350px;
   height: 340px;
   top: 100px;
   left: 80px;
   border-radius: 10px;
   border: 1px solid #7e7e7e;
   z-index: 99;
}

.intro h2{
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}

.info{
  width: 90px;
  height: 200px;
  top: 110px;
  left: 90px;
  float: left;
  z-index: 100;
}

.info p{
  color:white;
  line-height: 21px;
  margin-left: 80px;
}

.clear{
  margin-left: 50px;
  width: 200px;
  height: 200px;
  top: 110px;
  left: 250px;
  float: left;
  z-index: 100;
}
.clear h4{
  color:white;
  margin-left: 50px;
  line-height: 21px;
}

a { 
  display: block;
  width: 150px;
  height: 30px;
  background-color: black;
  font-size: 15px;
  color: white;
  text-decoration: none;
  text-indent: 2em;
  border-radius: 15px;
}

a:hover {
  background-color: #1E1E1E;
  transition: all .3s ease-in-out
}

