/* Simple Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  /* Codeplayer says you can use any background here */
  background-color: black;
}

canvas {
  display: block;
  background: url(../Photo/scarf.png);
}
